// app global css in SCSS form

@font-face {
  src: url('src/css/fonts/IBMPlexSans-Regular.ttf');
  font-family: IBM Plex Sans;
}

.inter-font {
  font-family: 'Inter';
  font-family: 'IBM Plex Sans';
}

* {
  font-family: 'IBM Plex Sans';
}
